{% set title = "Loyalty API Password Request" %}
{% extends '@AwardWalletMain/Manager/layout.html.twig' %}

{% block content %}

    {% if resultMessage is defined %} <p> {{ resultMessage }} </p> {% endif %}

    <h2>Loyalty API Password Requests</h2>
    <br/>
    <a href="{{ path('aw_manager_loyalty_password_request_form') }}"><h3>create password request</h3></a>
    <div>
        <table class='detailsTable' cellpadding='5'>
            <tr>
                <td><b>№</td>
                <td><b>UserID</b></td>
                <td><b>partner</b></td>
                <td><b>provider</b></td>
                <td><b>login</b></td>
                <td><b>request date</b></td>
                <td><b>note</b></td>
                <td><b>actions</b></td>
            </tr>
        {% if list is defined %}
            {% for item in list %}
                <tr>
                    <td><b>{{ loop.index }}</b></td>
                    <td>
                        {% if item.userId is defined %} {{ item.userId }} {% endif %}
                    </td>
                    <td>
                        {% if item.partner is defined %} {{ item.partner }} {% endif %}
                    </td>
                    <td>
                        {% if item.provider is defined %} {{ item.provider }} {% endif %}
                    </td>
                    <td>
                        {% if item.login is defined %} {{ item.login }} {% endif %}
                    </td>
                    <td>
                        {% if item.requestDate is defined %} {{ item.requestDate }} {% endif %}
                    </td>
                    <td>
                        {% if item.note is defined %} {{ item.note }} {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('aw_manager_loyalty_password_request_form', { 'id': item.id }) }}">edit</a>&nbsp;
                        <a href="{{ path('aw_manager_loyalty_password_request_remove', { 'id': item.id }) }}" onclick="return confirm('Are you sure?');">remove</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </table>
    </div>
{% endblock %}

