{% extends '@MailTemplate/Layout/base.twig' %}
{% trans_default_domain "email" %}

{% block subject %}{% apply spaceless %}{% autoescape false %}
    {{ 'password_reset.subject'|trans({}, 'email', lang)|desc('Awardwallet Account Password Was Reset Due to Weak Security') }}
{% endautoescape %}{% endapply %}{% endblock subject %}

{% block content %}
    {% import '@MailTemplate/CommonMacro.twig' as commonMacro %}

    {{ commonMacro.hello(user.firstname, _context) }}

    {{ commonMacro.paragraph(
        'password_reset.message'|trans({}, 'email', lang)|desc('
            Recently we noticed that someone tried to log in to your AwardWallet profile with your password and we have reasons to believe that it was not you. To prevent them from being able to login we sent a one-time code to your email address which prevented them from actually gaining access to your account. However, we believe that your AwardWallet password was compromised, so we reset your password to a random value. To login to your AwardWallet account please reset your password via this link:
        '),
        _context
    ) }}

    {% set link = baseUrl ~ path('aw_users_restore') %}
    {{ commonMacro.dottedLink(link, link, _context) }}

    {{ commonMacro.paragraph(
        'password_reset.notice'|trans({
            '%link%': '<a href="https://haveibeenpwned.com/">https://haveibeenpwned.com/</a>',
            '%2f_link%': '<a href="' ~ path('aw_profile_2factor') ~ '">',
            '%link_off%': '</a>'
        }, 'email', lang)|desc('
            We don\'t know how your AwardWallet password was compromised but we suspect that you used this password on some other websites or online services and at least one of those services was hacked. One way to check if your account was hacked is via this website: %link%. Also please note that AwardWallet was not hacked and due to our additional security (us sending a one-time code to you in case of suspicious login activity) your account was not compromised. Finally, for added security we recommend all of our users to %2f_link%set up two-factor authentication%link_off% on AwardWallet, also, you can read more about our security practices here:
        '),
        _context, {escape: false}
    ) }}

    {% set link = baseUrl ~ path('aw_faq_index') ~ '#10' %}
    {{ commonMacro.dottedLink(link, link, _context) }}

{% endblock content %}
