{% extends '@AwardWalletMain/Layout/default.html.twig' %}


{% block content %}
    <div>old: <textarea>{{ old }}</textarea></div>
    <div>counter: <textarea>{{ counter }}</textarea></div>
    <div>big: <textarea>{{ big }}</textarea></div>
    <div>medium: <textarea>{{ medium }}</textarea></div>
    <div>small: <textarea>{{ small }}</textarea></div>
{% endblock %}
