{% macro departingEvent(depDate, arrName, context) %}{% trim %}
    <table width="100%" cellpadding="0" border="0" cellspacing="0" style="border:1px solid #ddd">
        <tr>
            <td width="100" style="padding:5px" align="center" valign="middle">
                <b style="color:#535457;font-size:12px">
                    {{ 'departing-on'|trans({}, 'email', context.lang)|desc("DEPARTING ON")|upper }}
                </b>
                <br>
                <b style="color:#cc3d5e;font-size:14px">
                    {{ depDate|patternDatetime('LLLL', context.lang)|capitalize }}
                </b>
                <br>
                <span style="color:#cc3d5e;font-size:45px;line-height:45px">
                    {{ depDate|patternDatetime('d', context.locale) }}
                </span>
            </td>
            <td valign="middle" style="padding:15px 20px;color:#3d424d; line-height: 24px;font-size:18px; border-left:1px solid #ddd">
                {{ 'time-checkin'|trans({
                    '%arrName%': arrName
                }, 'email', context.lang)|desc("Time to check in for your flight to %arrName%") }}
            </td>
        </tr>
    </table>
{% endtrim %}{% endmacro %}

{% macro renderItinerary(itinerary, context, options) %}{% trim %}
    {% import '@MailTemplate/CommonMacro.twig' as commonMacro %}
    {% import _self as selfMacro %}
    {% set options = {
        'higher_property_style': '',
        'after_first_segment': null
    }|merge(options|default({})) %}

    {% set it = itinerary.getEntity() %}
    {% for segment in itinerary.segments %}

        {# Header #}
        {% if it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Trip') %}
            {% if it.category == constant('TRIP_CATEGORY_AIR') %}
                {% set icon = 'airlines' %}
            {% elseif it.category == constant('TRIP_CATEGORY_TRAIN') %}
                {% set icon = 'trains' %}
            {% elseif it.category == constant('TRIP_CATEGORY_BUS') %}
                {% set icon = 'carrier' %}
            {% elseif it.category == constant('TRIP_CATEGORY_CRUISE') %}
                {% set icon = 'cruise' %}
            {% elseif it.category == constant('TRIP_CATEGORY_FERRY') %}
                {% set icon = 'ferry' %}
            {% endif %}

            {% if it.category == constant('TRIP_CATEGORY_CRUISE') and it.cruiseName is not null %}
                {% set displayName = it.cruiseName|html_entity_decode %}
            {% elseif it.category == constant('TRIP_CATEGORY_TRAIN') %}
                {% set displayName = 'itineraries.train-display-name'|trans({
                    '%from%': segment.itinerary.depname|html_entity_decode,
                    '%to%': segment.itinerary.arrname|html_entity_decode
                }, 'email', context.lang)|desc("Train from %from% to %to%") %}
            {% elseif it.category == constant('TRIP_CATEGORY_AIR') %}
                {% if segment.itinerary.depcode is not empty and segment.itinerary.arrcode is not empty %}
                    {% set from = segment.itinerary.depcode %}
                    {% set to = segment.itinerary.arrcode %}
                {% else %}
                    {% set from = segment.itinerary.getDepAirportName(false)|html_entity_decode %}
                    {% set to = segment.itinerary.getArrAirportName(false)|html_entity_decode %}
                {% endif %}

                {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::FLIGHT_NUMBER')) and segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::FLIGHT_NUMBER')).getValue() != 'n/a' %}
                    {% set displayName = 'itineraries.air-display-name-flightnumber'|trans({
                        '%from%': from,
                        '%to%': to,
                        '%flightNumber%': segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::FLIGHT_NUMBER')).getFormattedNewValue(context.locale)
                    }, 'email', context.lang)|desc("Flight %flightNumber% from %from% to %to%") %}
                {% else %}
                    {% set displayName = 'itineraries.air-display-name'|trans({
                        '%from%': from,
                        '%to%': to
                    }, 'email', context.lang)|desc("Flight from %from% to %to%") %}
                {% endif %}
            {% else %}
                {% set displayName = 'itineraries.display-name'|trans({
                    '%from%': segment.itinerary.depname|html_entity_decode,
                    '%to%': segment.itinerary.arrname|html_entity_decode
                }, 'email', context.lang)|desc("%from% to %to%") %}
            {% endif %}
            {% set link = path("aw_timeline_show", {segmentId: "T." ~ segment.itinerary.tripsegmentid}) %}
        {% elseif it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Rental') %}
            {% set icon = 'rentals' %}
            {% set displayName = it.getPickuplocation()|html_entity_decode %}
            {% set link = path("aw_timeline_show", {segmentId: "PU." ~ it.getId()}) %}
        {% elseif it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Reservation') %}
            {% set icon = 'hotels' %}
            {% set displayName = it.getHotelname()|html_entity_decode %}
            {% set link = path("aw_timeline_show", {segmentId: "CI." ~ it.getId()}) %}
        {% elseif it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Restaurant') %}
            {% set icon = 'dining' %}

            {% if it.eventtype == constant('\\AwardWallet\\MainBundle\\Entity\\Restaurant::EVENT_MEETING') %}
                {% set icon = 'event-meeting' %}
            {% elseif it.eventtype == constant('\\AwardWallet\\MainBundle\\Entity\\Restaurant::EVENT_SHOW') %}
                {% set icon = 'event-show' %}
            {% elseif it.eventtype == constant('\\AwardWallet\\MainBundle\\Entity\\Restaurant::EVENT_EVENT') %}
                {% set icon = 'event' %}
            {% elseif it.eventtype == constant('\\AwardWallet\\MainBundle\\Entity\\Restaurant::EVENT_RESTAURANT') %}
                {% set icon = 'dining' %}
            {% elseif it.eventtype == constant('\\AwardWallet\\MainBundle\\Entity\\Restaurant::EVENT_CONFERENCE') %}
                {% set icon = 'event-conference' %}
            {% endif %}

            {% set displayName = it.getName()|html_entity_decode %}
            {% set link = path("aw_timeline_show", {segmentId: "E." ~ it.getId()}) %}
        {% elseif it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Parking') %}
            {% set icon = 'parking' %}
            {% set displayName = it.getLocation()|html_entity_decode %}
            {% set link = path("aw_timeline_show", {segmentId: "P." ~ it.getId()}) %}
        {% endif %}
        <table width="100%" cellpadding="0" border="0" cellspacing="0" style="margin-top:20px;border-bottom:2px solid #bec2cc">
            <tr>
                <td valign="top" width="40" align="left" style="padding-left:10px">
                    <img src="{{ context.baseImagesPath ~ '/' ~ icon ~ '.png' }}" border="0" width="30" height="32" alt="">
                </td>
                <td valign="middle" style="padding-bottom: 8px; padding-top:2px; line-height: 1;">
                    {{ commonMacro.link(context.baseUrl ~ link, displayName, {'font-size': '25px', 'line-height' : '30px'}) }}
                </td>
                <td width="15" align="right" valign="middle">
                    <img src="{{ context.baseImagesPath }}/arrow-right-blue.png" alt="" width="7" height="9" border="0">
                </td>
            </tr>
        </table>
        {% if segment.isShowAIWarningForEmailSource() %}
            <table width="100%" cellpadding="0" border="0" cellspacing="0" style="margin-top:20px">
                <tr>
                    <td>
                        <img src="{{ context.baseImagesPath ~ '/ai@1x.png' }}" width="32" height="29" alt="">
                    </td>
                    <td>
                        <p style="{{
                        {
                            'color': '#3d424d',
                            'font-size': '16px',
                            'line-height': '24px',
                            'margin' : '0'
                        }|merge(styles|default({}))|joinAssociative(":", ";")
                        }}">
                            {{ 'ai-warning-readonly'|trans({}, 'trips')|desc('This reservation was processed using AI. Please check the details below for accuracy.') }}
                        </p>
                    </td>
                </tr>
            </table>
        {% endif %}

        {# Confirmation number #}
        {% set confProperty = segment.getConfNumber() %}
        {% if confProperty.value is not empty %}
            <table width="100%" cellpadding="0" border="0" cellspacing="0" style="margin-top:5px;color:#fff;font-size:14px; padding-bottom:5px; border-bottom:1px dotted #8e9199; ">
                <tr>
                    <td valign="middle" align="left" style="padding: 0 10px;background:#828b99;" width="120" class="email-silver">{{ confProperty.getName(context.lang) }}</td>
                    <td valign="middle" style="font-size:22px;background:#828b99;" class="email-silver">{{ confProperty.getFormattedNewValue(context.locale) }}</td>
                </tr>
            </table>
        {% endif %}

        {# Most important properties #}
        {% if it is instanceof('\\AwardWallet\\MainBundle\\Entity\\Trip') and it.category == constant('TRIP_CATEGORY_AIR') %}
            {{ selfMacro.renderAirTripFromTo(segment, context, options['higher_property_style']) }}
        {% else %}
            {% set impProperties = segment.getPropertiesByGroup([1, 2]) %}
            {% if impProperties|length > 0 %}
                <table width="100%" cellpadding="0" border="0" cellspacing="0" style="line-height:20x;border-bottom:1px dotted #8e9199;">
                    <tr>
                        <td style="padding:10px 0 10px 10px">
                            <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                {{ selfMacro.renderItineraryProperties(impProperties, context, options['higher_property_style']) }}
                            </table>
                        </td>
                    </tr>
                </table>
            {% endif %}
        {% endif %}

        {# Other properties #}
        {% set otherProperties = segment.getPropertiesByGroup([0]) %}
        {% if otherProperties|length > 0 %}
            <table width="100%" cellpadding="0" border="0" cellspacing="0" style="border-bottom:1px dotted #8e9199;">
                <tr>
                    <td style="padding:10px 0 10px 10px">
                        <table width="100%" cellpadding="0" border="0" cellspacing="0" style="line-height:20px;">
                            {{ selfMacro.renderItineraryProperties(otherProperties, context, options['higher_property_style']) }}
                        </table>
                    </td>
                </tr>
            </table>
        {% endif %}

        {% if loop.first and options['after_first_segment'] is not null %}
            {{ options['after_first_segment']|raw }}
        {% endif %}
    {% endfor %}
{% endtrim %}{% endmacro %}

{% macro renderItineraryProperties(properties, context, higherPropertyStyle) %}{% trim %}
    {% import _self as selfMacro %}
    {% set prev = null %}
    {% for property in properties %}
        {% set notAddStyle = loop.first or (prev != null and prev.getOldValue) %}
        <tr>
            <td  width="150" class="first-cell" valign="top"
                style="{% if not notAddStyle %}padding-top:5px;padding-right:15px;{% endif %}font-size:15px;color:#70798c">
                {{ property.getName(context.lang) }}:
            </td>
            <td {# width="60%" #} valign="top" style="{% if not notAddStyle %}padding-top:5px;{% endif %}font-size:16px;color:#535457;">
                {{ selfMacro.renderItineraryProperty(property, {}, {}, context, higherPropertyStyle) }}
            </td>
        </tr>
        {% set prev = property %}
    {% endfor %}
{% endtrim %}{% endmacro %}

{% macro renderAirTripProperty(property, context, higherPropertyStyle) %}{% trim %}
    {% import _self as selfMacro %}
    {{ selfMacro.renderItineraryProperty(
        property,
        {'margin-bottom': '0'},
        {'margin-bottom': '5px'},
        context,
        higherPropertyStyle
    ) }}
{% endtrim %}{% endmacro %}

{% macro renderItineraryProperty(property, oldStyles, newStyles, context, higherPropertyStyle) %}{% trim %}
    {% if not property.getOldValue %}
        {% if property.inGroup(2) %}
            <b style="{{ higherPropertyStyle }}">{{ property.getFormattedNewValue(context.locale) }}</b>
        {% elseif property.code == 'Notes' %}
            {{ property.getFormattedNewValue(context.locale)|raw }}
        {% else %}
            {{ property.getFormattedNewValue(context.locale) }}
        {% endif %}
    {% else %}
        <span style="{{
            {
                'color': '#fff',
                'margin-right' : '10px',
                'background': '#4382c6',
                'display': 'inline-block',
                'margin-bottom': '5px',
                'padding': '2px 8px'
            }|merge(newStyles|default({}))|joinAssociative(":", ";")
        }}">
            <b>{{ property.getFormattedNewValue(context.locale) }}</b>
        </span>
        <span style="{{
            {
                'color': '#bec2cd',
                'border' : '1px solid #b8bccc',
                'text-decoration': 'line-through',
                'display': 'inline-block',
                'margin-bottom': '5px',
                'margin-right': '10px',
                'padding': '1px 8px'
            }|merge(oldStyles|default({}))|joinAssociative(":", ";")
        }}">
            {{ property.getFormattedOldValue(context.locale) }}
        </span>
    {% endif %}
{% endtrim %}{% endmacro %}

{% macro renderAirTripFromTo(segment, context, higherPropertyStyle) %}{% trim %}
    {% import _self as selfMacro %}
    <table width="100%" cellpadding="0" border="0" cellspacing="0" style="margin:0 0 5px 0; border-bottom:1px dotted #8e9199">
        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_NAME')) %}
            <tr>
                <td>
                    <table width="100%" cellpadding="0" border="0" cellspacing="0">
                        <tr>
                            <td valign="top" align="left" style="padding:5px 0 ">
                                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                    <tr>
                                        <td style="background:#ebedf2; display:block; padding: 5px 0 5px 10px;font-size: 15px;color: #535457;" class="email-silver">{{ 'departs-from'|trans({}, 'email', context.lang)|desc("Departs from") }}:</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" style="padding:5px 0 5px 10px;color:#3d424d; font-size:16px">
                                {{ selfMacro.renderAirTripProperty(
                                    segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_NAME')),
                                    context,
                                    higherPropertyStyle
                                ) }}
                            </td>
                        </tr>

                        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_TERMINAL')) or segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_GATE')) %}
                            <tr>
                                <td valign="middle" align="left" style="padding:5px 0 5px 10px;color:#535457; font-size:16px">
                                    {% set property = segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_TERMINAL')) is not empty ? segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_TERMINAL')) : false %}
                                    {% if property and (property.getNewValue is not empty or property.getOldValue) %}
                                        {{ 'trip-terminal'|trans({}, 'email', context.lang)|desc("Terminal") }}:
                                        {% if not property.getOldValue %}
                                            <span style="display: inline-block;padding: 2px 3px;margin-right: 10px;background: #4684c4;color: #fff;min-width: 20px;text-align: center;">
                                                {{ property.getFormattedNewValue(context.locale) }}
                                            </span>
                                        {% else %}
                                            {{ selfMacro.renderAirTripProperty(
                                                property,
                                                context,
                                                higherPropertyStyle
                                            ) }}
                                        {% endif %}
                                    {% endif %}
                                    {% set property = segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_GATE')) is not empty ? segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_GATE')) : false %}
                                    {% if property and (property.getNewValue is not empty or property.getOldValue) %}
                                        {{ 'trip-gate'|trans({}, 'email', context.lang)|desc("Gate") }}:
                                        {% if not property.getOldValue %}
                                            <span style="display: inline-block;padding: 2px 3px;margin-right: 10px;background: #4684c4;color: #fff;min-width: 20px;text-align: center;">
                                                {{ property.getFormattedNewValue(context.locale) }}
                                            </span>
                                        {% else %}
                                            {{ selfMacro.renderAirTripProperty(
                                                property,
                                                context,
                                                higherPropertyStyle
                                            ) }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_DATE')) %}
                            <tr>
                                <td valign="top" align="left" style="padding:5px 0 10px 10px ; font-size:16px; color: #535457">
                                    {{ selfMacro.renderAirTripProperty(
                                        segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::DEPARTURE_DATE')),
                                        context,
                                        higherPropertyStyle
                                    ) }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        {% endif %}

        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_NAME')) %}
            <tr>
                <td>
                    <table width="100%" cellpadding="0" border="0" cellspacing="0"  style="line-height:20px">
                        <tr>
                            <td valign="top" align="left" style="padding:5px 0">
                                <table width="100%" cellpadding="0" border="0" cellspacing="0">
                                    <tr>
                                        <td style="background:#ebedf2; display:block; padding: 5px 0 5px 10px;font-size: 15px;color: #535457;" class="email-silver">{{ 'arrives-at'|trans({}, 'email', context.lang)|desc("Arrives at") }}:</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" style="padding:5px 10px;color:#535457; font-size:16px">
                                {{ selfMacro.renderAirTripProperty(
                                    segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_NAME')),
                                    context,
                                    higherPropertyStyle
                                ) }}
                            </td>
                        </tr>

                        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_TERMINAL')) or segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_GATE')) %}
                            <tr>
                                <td valign="middle" align="left" style="padding:5px 0 5px 10px;color:#535457; font-size:16px">
                                    {% set property = segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_TERMINAL')) is not empty ? segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_TERMINAL')) : false %}
                                    {% if property and (property.getNewValue is not empty or property.getOldValue) %}
                                        {{ 'trip-terminal'|trans({}, 'email', context.lang)|desc("Terminal") }}:
                                        {% if not property.getOldValue %}
                                            <span style="display: inline-block;padding: 2px 3px;margin-right: 10px;background: #4684c4;color: #fff;min-width: 20px;text-align: center;">
                                                {{ property.getFormattedNewValue(context.locale) }}
                                            </span>
                                        {% else %}
                                            {{ selfMacro.renderAirTripProperty(
                                                property,
                                                context,
                                                higherPropertyStyle
                                            ) }}
                                        {% endif %}
                                    {% endif %}
                                    {% set property = segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_GATE')) is not empty ? segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_GATE')) : false %}
                                    {% if property and (property.getNewValue is not empty or property.getOldValue is not empty) %}
                                        {{ 'trip-gate'|trans({}, 'email', context.lang)|desc("Gate") }}:
                                        {% if not property.getOldValue %}
                                            <span style="display: inline-block;padding: 2px 3px;margin-right: 10px;background: #4684c4;color: #fff;min-width: 20px;text-align: center;">
                                                {{ property.getFormattedNewValue(context.locale) }}
                                            </span>
                                        {% else %}
                                            {{ selfMacro.renderAirTripProperty(
                                                property,
                                                context,
                                                higherPropertyStyle
                                            ) }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}

                        {% if segment.hasProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_DATE')) %}
                            <tr>
                                <td valign="top" align="left" style="padding:5px 0 10px 10px; font-size:16px; color: #535457">
                                    {{ selfMacro.renderAirTripProperty(
                                        segment.getProperty(constant('\\AwardWallet\\MainBundle\\Service\\ItineraryFormatter\\PropertiesList::ARRIVAL_DATE')),
                                        context,
                                        higherPropertyStyle
                                    ) }}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </td>
            </tr>
        {% endif %}
    </table>
{% endtrim %}{% endmacro %}

{% macro renderNoForeignFeesCards(noForeignFeesCards, baseUrl) %}{% trim %}
    <style>
        @media (prefers-color-scheme: dark ) {
            .notfees-head {
                background: #1c1c1e !important;
                color:#fff !important;
            }
            .notfees-card-head {
                background: #1c1c1e !important;
                color:#fff !important;
            }
            td.notfees-card-name {
                color: #fff !important;
            }
            .notfees-foot {
                background: #1c1c1e !important;
                color: #fff !important;
            }
        }
    </style>
    <div class="cards-notfees">
        {% if noForeignFeesCards.isFlat is not defined or noForeignFeesCards.isFlat is same as false %}
            <table>
                <thead>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <th class="notfees-head" style="font-size:15px;line-height:1.3;text-align: left;padding: 5px 10px;font-weight: normal;background: #828b99;color:#fff;">
                        {{ 'overseas-trip-cards-not-fees'|trans({}, 'messages') }}:
                    </th>
                </tr>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="notfees-card-head" style="padding: 5px 10px;background: #ebedf2;color: #535457;">{{ 'personal-cards'|trans({}, 'messages') }}</td>
                </tr>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <td>
                        <table>
                            {% for card in noForeignFeesCards.personal %}
                                <tr>
                                    <td style="padding: 0 5px;">
                                        <img src="{{ baseUrl }}{{ card.image }}" alt="" style="max-width: 51px;">
                                    </td>
                                    <td class="notfees-card-name" style="line-height:1.3;">{{ card.name|raw }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <td class="notfees-card-head" style="padding: 5px 10px;background: #ebedf2;color: #535457;">
                        {{ 'business-cards'|trans({}, 'messages') }}
                    </td>
                </tr>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <td>
                        <table>
                            {% for card in noForeignFeesCards.business %}
                                <tr>
                                    <td style="padding: 0 5px;">
                                        <img src="{{ baseUrl }}{{ card.image }}" alt="" style="max-width: 51px;">
                                    </td>
                                    <td class="notfees-card-name" style="line-height:1.3;">{{ card.name|raw }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <td class="notfees-foot" style="padding: 10px;font-size: 13px;line-height: 1.3;background: #f9f9fa;color: #70798c;">
                        {{ 'have-these-cards-not-fees'|trans({}, 'messages') }}
                    </td>
                </tr>
                </tfoot>
            </table>
        {% else %}
            <table>
                <thead>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <th class="notfees-head" style="font-size:15px;line-height:1.3;text-align: left;padding: 5px 10px;font-weight: normal;background: #828b99;color: #fff;">
                        {% if noForeignFeesCards.isOne is defined and noForeignFeesCards.isOne is same as true %}
                            {{ 'overseas-trip-one-card-not-fees'|trans({}, 'messages') }}:
                        {% else %}
                            {{ 'overseas-trip-cards-not-fees'|trans({}, 'messages') }}:
                        {% endif %}
                    </th>
                </tr>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <table>
                            {% for card in noForeignFeesCards.list %}
                                <tr>
                                    <td style="padding: 0 5px;">
                                        <img src="{{ baseUrl }}{{ card.image }}" alt="" style="max-width: 51px;">
                                    </td>
                                    <td class="notfees-card-name" style="line-height:1.3;">{{ card.name|raw }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th style="height: 8px"></th>
                </tr>
                <tr>
                    <td class="notfees-foot" style="padding: 10px;font-size: 13px;line-height: 1.3;background: #f9f9fa;color: #70798c;">
                        {% if noForeignFeesCards.isOne is defined and noForeignFeesCards.isOne is same as true %}
                            {{ 'have-these-one-card-not-fees'|trans({}, 'messages') }}
                        {% else %}
                            {{ 'have-these-cards-not-fees'|trans({}, 'messages') }}
                        {% endif %}
                    </td>
                </tr>
                </tfoot>
            </table>
        {% endif %}
    </div>
{% endtrim %}{% endmacro %}
