{% extends app.user ? "@AwardWalletMain/Layout/trips.html.twig" : "@AwardWalletMain/Layout/not_logged.html.twig" %}
{% use '@AwardWalletMain/Timeline/_sharedTimelineElements.html.twig' %}
{% import '@AwardWalletMain/TwigMacros/common.html.twig' as common %}

{% block meta %}
    {{ parent() }}
    <base href="{{ path('aw_timeline') }}">

    {% if app.user is null %}
        <META NAME="description" content="{{ 'timeline.sharing.meta'|trans|desc('AwardWallet is the most comprehensive travel plan management solution on the internet.') }}">
        {#<meta property="og:title"              content="When Great Minds Don’t Think Alike" />#}
        {% if map is defined %}
            <meta property="og:image" content="{{ map|raw }}" />
        {% endif %}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ common.angularLinkConverter() }}
    {{ encore_entry_script_tags('trans/' ~ app.request.locale) }}
    {{ encore_entry_script_tags('timeline') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('timeline') }}
    {{ encore_entry_link_tags('trips') }}
    {{ encore_entry_link_tags('scanner') }}
{% endblock %}

{% block title %}
    {% if app.user is null %}
        {{ 'timeline.sharing.title'|trans|desc('AwardWallet - the best tool for travelers to track their reservations and frequent flier miles') }}
    {% else %}
        {{ 'timeline.title.trips'|trans|desc('Trips') }}
    {% endif %}
{% endblock %}

{% block body_left_widgets %}
    {{ widget_render('left_top') }}
    {{ widget_render('left_bottom') }}
{% endblock %}

{% block content %}
    <div class="trip" data-ng-controller="timeline" data-ng-cloak>

        <div class="ajax-loader" data-ng-if="spinner">
            <div class="loading"></div>
        </div>

        <div data-ng-if="!spinner">
            <div class="title-note" ng-non-bindable><h3>{{ 'timeline.of.name'|trans({'%name%': '<span class="blue">' ~ data.fullName|htmlencode ~ '</span>'}) | raw }}</h3></div>

            {{ block('trip_list') }}
        </div>
    </div>
{% endblock %}