<div class="row">
	<div class="heading">
		<i class="icon-silver-arrow-down"></i>
		<h3>{{ 'menu.header.account.manage' | trans({}, 'menu') | desc('Manage My AwardWallet') }}</h3>
	</div>
	<ul class="default-list">
		{% if is_granted('SITE_BUSINESS_AREA') %}
			{% set link = url('aw_profile_overview_business') %}
		{% else %}
			{% set link = url('aw_profile_overview') %}
		{% endif %}
		<li><a href="{{ link }}">{{ 'menu.profile'|trans({}, 'menu')|desc('My AwardWallet Profile') }}</a></li>
		<li><a href="{{ url('aw_users_usecoupon') }}">{{ 'menu.upgrade-coupon'|trans({}, 'menu')|desc('Upgrade Using a Coupon') }}</a></li>
		<li><a href="#">{{ 'menu.upgrade-account'|trans({}, 'menu')|desc('Upgrade Account') }}</a></li>
	</ul>
</div>
