<form method="get" action="{{ action }}" enctype="application/x-www-form-urlencoded">

    <select name="{{ filter_field_name }}">
        {% for field, label in fields %}
            <option value="{{ field }}"{% if selectedField == field %} selected="selected"{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>

    <input type="text" value="{{ selectedValue }}" name="{{ filter_value_name }}" />

    <button>{{ options.button }}</button>

</form>