{% extends "@AwardWalletMain/Layout/accounts.html.twig" %}
{% form_theme form '@AwardWalletMain/FormTheme/fields.html.twig' %}

{% block content %}
    <div class="add-account">
        <div class="main-blk">
            <h1>
                {{ 'history-transaction.provider-header.edit'|trans({'%providerName%': displayName})|desc('Edit %providerName% transaction')|raw }}
                <span class="silver">{{ 'history-transaction.account-header.add'|trans({'%accountNumber%': account.login, '%userName%': account.ownerFullName})|desc('for account %accountNumber% belonging to %userName%') }}</span>
            </h1>
            {{ form_start(form, {"attr": {"class":"main-form"}}) }}
            {{ form_widget(form, {'noSubmit': true}) }}

            <div class="row">
                <div class="row-item">
                    <label>{{ 'award.account.note'|trans }}:</label>
                    <div class="input">
                        <div class="input-item">
                            <div class="input-text">
                                {% apply spaceless %}
                                    {% if custom %}
                                        {{ 'transaction.added.manually'|trans|desc("This transaction was added <strong>manually</strong>")|raw }}
                                    {% else %}
                                        {{ 'transaction.added.auto'|trans|desc("This transaction was added by AwardWallet <strong>automatically</strong>")|raw }}
                                    {% endif %}
                                {% endapply %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-submit t-right">
                <div class="row-submit-item">
                    <a href="{{ path('aw_account_history_view', {'accountId': account.accountid}) }}" class="btn btn-silver">{{ 'button.cancel'|trans|desc('Cancel') }}</a>
                    <button type="submit" class="btn-blue">{{ 'form.button.save'|trans }}</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
        <div class="faq">
            <div class="faq-blk"></div>
        </div>
    </div>
{% endblock %}