{% import '@AwardWalletMain/Blog/components/post.html.twig' as postComponent %}
{% import '@AwardWalletMain/Blog/components/icons.html.twig' as icons %}


<div class="{{ bem(pageName, 'container') }} {{ bem(pageName, 'latest-news-title-block') }}">
    <h2 class="{{ bem(pageName, 'section-title') }}">{{latestNews.title}}</h2>
    <a href="{{latestNews.more.link}}" class="{{ bem(pageName, 'latest-news-link') }} {{ bem(pageName, 'read-more-link') }}">
        {{latestNews.more.text}}
        {{ icons.arrowIcon() }}
    </a>
</div>
<div class="swiper {{ bem(pageName, 'latest-news-swiper') }}">
    <div class="swiper-wrapper">
        {% for post in latestNews.posts %}
            <div class="swiper-slide {{ bem(pageName, 'latest-news-swiper-slide') }}">
                {{ postComponent.renderPost(post, 'small') }}
            </div>
        {% endfor %}
    </div>
</div>
