{% import '@AwardWalletMain/Blog/components/card_components.html.twig' as cardComponents %}

<section class="{{ bem(pageName, 'offered-card-section') }}">
    <div class="{{ bem(pageName, 'offered-card-title') }}">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13 0L6 14.1818H12V24L19 9.81818H13V0Z" fill="#FFAA33"/>
        </svg>
        <h2>{{ offers.title }}</h2>
    </div>
    <div class="swiper {{ bem(pageName, 'offered-card-swiper') }}">
        <div class="swiper-wrapper">
            {% for card in offers.cards %}
                    {{ cardComponents.renderCard(card, 'default', "swiper-slide") }}
            {% endfor %}
                
             {% if offers.more is defined %}
                {{ cardComponents.renderLastSlide(offers.more.link, offers.more.text, pageName) }}
            {% endif %}
            
        </div>
    </div>
</section>
