{% set title = "FlightInfo statistics" %}
{% extends '@AwardWalletMain/Manager/layout.html.twig' %}
{% import _self as macros %}

{% block content %}
    <style type="text/css">
        table {
            border-collapse: collapse;
        }
        table td {
            border: lightgray solid 1px;
            padding: 7px;
        }
        thead td {
            font-weight: bold;
        }
        .navigation {
            padding: 20px 0 0 0;
        }
    </style>
    <script>
        $(function() {
            $(document).on('click', '.js-update', function (e) {
                e.preventDefault();
                var $this = $(this);
                $this.before('<span>updating</span>');
                $this.hide();

                $.get($this.attr('href') + '&ajax=1', function(data) {
                    if (typeof(data.success) != 'undefined') {
                        $this.prev('span').remove();
                        $this.before('<span>refresh page</span>');
                    }
                }).fail(function () {
                    $this.prev('span').remove();
                    $this.show();
                });
            });

            $(document).on('click', '.js-relink', function (e) {
                e.preventDefault();
                var $this = $(this);
                $this.before('<span>relinking</span>');
                $this.hide();

                $.get($this.attr('href') + '&ajax=1', function(data) {
                    if (typeof(data.success) != 'undefined') {
                        $this.prev('span').remove();
                        $this.before('<span>refresh page</span>');
                    }
                }).fail(function () {
                    $this.prev('span').remove();
                    $this.show();
                });
            });

            $(document).on('change', '.js-select-provider', function (e) {
                var $this = $(this);
                var url = $this.find(':selected').data('url');
                if (url) {
                    window.location = url;
                }
            })
        })
    </script>

    <a href="{{ url('aw_manager_flightinfo_index', {year: year, month: month, day: day, level: level}) }}">Dashboard</a>

    <hr size="2"/>

    <h1>
        Statistics for {{ providerName }} / {{ headerDate }}
        {% if state is not same as(false) %}
            / FlightInfo State
            {% if state == 0 %}New
            {% elseif state == 1 %}Checked
            {% elseif state == 2 %}Done
            {% elseif state == 3 %}Error
            {% else %}Unknown
            {% endif %}
        {% endif %}
        ({{ data|length }})
    </h1>

    {{ macros.navigation(year, month, day, level, provider, state, type, days, minYear, maxYear, providers) }}

    <hr size="1"><br/>

    {% if data|length %}
        <table>
            <thead>
            <tr><td colspan="8">Segment</td><td colspan="11">FlightInfo</td>
            </tr>
            <tr>
                <td>Date</td>
                <td>Provider</td>
                <td>Airline</td><td>Flight<br/>Number</td><td>Departure</td><td>Arrival</td>
                <td>User</td>
                <td>State</td>

                <td>IATA<br/>Code</td><td>Flight<br/>Number</td>
                <td>Status</td><td>Flight<br/>Status</td>
                <td>Create<br/>Date</td><td>Update<br/>Date</td>

                <td>Check<br/>count</td><td>Subscribe<br/>count</td><td>Update<br/>count</td><td>Error<br/>count</td><td></td>
            </tr>
            </thead>
            <tbody>
            {% set flightinfoId = 0 %}
            {% for row in data %}
                <tr>
                    <td>{{ row.departureDate }}</td>
                    <td>{% if row.providerName %}{{ row.providerName }}{% else %}Custom{% endif %}{% if row.providerIATA %} / <nobr>{{ row.providerIATA }}</nobr>{% endif %}</td>
                    <td>{{ row.segmentAirline }}{% if row.tripAirline %} / <nobr>Trip: {{ row.tripAirline }}</nobr>{% endif %}</td>
                    <td>{{ row.segmentFlight }}</td>
                    <td>{{ row.segmentDeparture }}</td>
                    <td>{{ row.segmentArrival }}</td>
                    <td>
                        {% if row.userLevel == 2 %}<b>[+]</b>{% endif %}
                        <a href="/manager/impersonate?UserID={{ row.userId }}" target="_blank">{{ row.userLogin }}</a>
                        {% if row.userAgent %} / <nobr>fm: {{ row.userAgent }}</nobr>{% endif %}
                    </td>

                    {% if row.tripCategory != constant('TRIP_CATEGORY_AIR') %}
                        <td bgcolor="aqua"><a href="{{ url('aw_timeline_shared', {shareCode: ('T' ~ '.' ~ row.tripId ~ '.' ~ row.shareCode)|base64encode}) }}" target="_blank">non-flight</a></td>
                    {% elseif row.hidden %}
                        <td bgcolor="gray">deleted</td>
                    {% elseif row.cancelled %}
                        <td bgcolor="#d3d3d3"><a href="{{ url('aw_timeline_shared', {shareCode: ('T' ~ '.' ~ row.tripId ~ '.' ~ row.shareCode)|base64encode}) }}" target="_blank">cancelled</a></td>
                    {% elseif row.filled %}
                        <td bgcolor="#90ee90"><a href="{{ url('aw_timeline_shared', {shareCode: ('T' ~ '.' ~ row.tripId ~ '.' ~ row.shareCode)|base64encode}) }}" target="_blank">normal</a></td>
                    {% else %}
                        <td bgcolor="#ee9090"><a href="{{ url('aw_timeline_shared', {shareCode: ('T' ~ '.' ~ row.tripId ~ '.' ~ row.shareCode)|base64encode}) }}" target="_blank">broken</a></td>
                    {% endif %}

                    {% if row.flightinfoId %}
                        {% if row.flightinfoId != flightinfoId %}
                            <td>{{ row.flightinfoAirline }}</td>
                            <td>{{ row.flightinfoFlight }}</td>
                            <td>{% if row.flightinfoState == 0 %}New
                                {% elseif row.flightinfoState == 1 %}Checked
                                {% elseif row.flightinfoState == 2 %}Done
                                {% elseif row.flightinfoState == 3 %}Error
                                {% else %}Unknown
                                {% endif %}
                            </td>
                            <td>{% if row.flightinfoFlightState == 0 %}Unknown
                                {% elseif row.flightinfoFlightState == 1 %}Schedule
                                {% elseif row.flightinfoFlightState == 2 %}Depart
                                {% elseif row.flightinfoFlightState == 3 %}Arrive
                                {% elseif row.flightinfoFlightState == 4 %}Cancel
                                {% elseif row.flightinfoFlightState == 11 %}Error:Airline
                                {% elseif row.flightinfoFlightState == 12 %}Error:Number
                                {% elseif row.flightinfoFlightState == 13 %}Error:Departure
                                {% elseif row.flightinfoFlightState == 14 %}Error:Arrival
                                {% elseif row.flightinfoFlightState == 15 %}Error:Not Found
                                {% elseif row.flightinfoFlightState == 16 %}Error:Not Exists
                                {% elseif row.flightinfoFlightState == 21 %}Error:Other
                                {% else %}Unknown
                                {% endif %}
                            </td>
                            <td>{{ row.flightinfoCreate }}</td>
                            <td>{% if row.flightinfoUpdate %}{{ row.flightinfoUpdate }}{% endif %}</td>
                            <td>{{ row.flightinfoChecks }}</td>
                            <td>{{ row.flightinfoSubscribes }}</td>
                            <td>{{ row.flightinfoUpdates }}</td>
                            <td>{{ row.flightinfoErrors }}</td>
                            <td><nobr>
                                <a href="{{ url('aw_manager_flightinfo_view', {id: row.flightinfoId}) }}">view</a>
                                {#{% if row.flightinfoState < 20 %}#}
                                    {#&middot;#}
                                    {#<a href="{{ url('aw_manager_flightinfo_update', {id: row.flightinfoId}) }}" class="js-update">update</a>#}
                                {#{% endif %}#}
                                &middot;
                                <a href="{{ url('aw_manager_flightinfo_relink', {id: row.segmentId}) }}" class="js-relink">relink</a>
                                {% if row.flightinfoFlightState == 11 %}
                                    &middot;
                                    <a href="{{ url('aw_manager_flightinfo_create_alias', {id: row.segmentId}) }}">create alias</a>
                                {% endif %}
                            </nobr></td>
                            {% set flightinfoId = row.flightinfoId %}
                        {% else %}
                            <td colspan="7">&uarr;&uarr;&uarr;</td>
                            <td>
                                <a href="{{ url('aw_manager_flightinfo_relink', {id: row.segmentId}) }}" class="js-relink">relink</a>
                            </td>
                        {% endif %}
                    {% else %}
                        <td colspan="10">-</td>
                        <td>
                            <a href="{{ url('aw_manager_flightinfo_relink', {id: row.segmentId}) }}" class="js-relink">relink</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br/><hr size="1">

    {{ macros.navigation(year, month, day, level, provider, state, type, days, minYear, maxYear, providers) }}

    {% macro navigation(year, month, day, level, provider, state, type, days, minYear, maxYear, providers)%}
        {% set calendarOther = '&level=' ~ level ~ '&provider=' ~ provider ~ '&state=' ~ state ~ '&type=' ~ type %}
        {% set providerOther = '&year=' ~ year ~ '&month=' ~ month ~ '&day=' ~ day ~ '&level=' ~ level ~ '&state=' ~ state ~ '&type=' ~ type %}
        {% set levelOther    = '&year=' ~ year ~ '&month=' ~ month ~ '&day=' ~ day ~ '&provider=' ~ provider ~ '&state=' ~ state ~ '&type=' ~ type %}
        {% set stateOther    = '&year=' ~ year ~ '&month=' ~ month ~ '&day=' ~ day ~ '&level=' ~ level ~ '&provider=' ~ provider ~ '&type=' ~ type %}
        {% set typeOther     = '&year=' ~ year ~ '&month=' ~ month ~ '&day=' ~ day ~ '&level=' ~ level ~ '&provider=' ~ provider ~ '&state=' ~ state %}
        <br/>
        <table>
            <tbody>
            <tr>
                <td bgcolor="gray"></td>
                <td>
                    <a href="?level={{ level }}">Today</a>
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">Year</td>
                <td>
                    {% for y in minYear .. maxYear %}{% if y == year %}<b>{{ y }}</b>{% else %}<a href="?year={{ y }}&month=1{{ calendarOther }}">{{ y }}</a>{% endif %} {% if not loop.last %}&middot;{% endif %} {% endfor %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">Month</td>
                <td>
                    {% if not month %}<b>All</b>{% else %}<a href="?year={{ year }}&month=0{{ calendarOther }}">All</a>{% endif %} &middot;
                    {% for m in 1..12 %}{% if m == month %}<b>{{ m }}</b>{% else %}<a href="?year={{ year }}&month={{ m }}{{ calendarOther }}">{{ m }}</a>{% endif %} {% if not loop.last %}&middot;{% endif %} {% endfor %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">Day</td>
                <td>
                    {% if not day %}<b>All</b>{% else %}<a href="?year={{ year }}&month={{ month }}&day={{ 0 }}{{ calendarOther }}">All</a>{% endif %} &middot;
                    {% for d in 1..days %}{% if d == day %}<b>{{ d }}</b>{% else %}<a href="?year={{ year }}&month={{ month }}&day={{ d }}{{ calendarOther }}">{{ d }}</a>{% endif %} {% if not loop.last %}&middot;{% endif %} {% endfor %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">Provider</td>
                <td>
                    {% if provider == 'all' %}<b>All</b>       {% else %}<a href="?provider=all{{ providerOther }}">All</a>             {% endif %}
                    {% if providers|length > 10 %}
                        &middot;
                        <select class="js-select-provider">
                            <option {% if provider == 'all' %}selected{% endif %}>-- Select Provider --</option>
                            {% for p in providers %}
                                <option {% if provider == p.providerId %}selected{% endif %}  data-url="?provider={{ p.providerId }}{{ providerOther }}">{{ p.providerName ?: 'Custom Segments' }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {% for p in providers %}
                            &middot;
                            {% if provider == p.providerId %}<b>{{ p.providerName ?: 'Custom Segments' }}</b>{% else %}<a href="?provider={{ p.providerId }}{{ providerOther }}">{{ p.providerName ?: 'Custom Segments' }}</a>{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">Segment Type</td>
                <td>
                    {% if not type              %}<b>All</b>       {% else %}<a href="?type=0{{ typeOther }}"      >All</a>          {% endif %} &middot;
                    {% if type == 'flights'     %}<b>Normal</b>    {% else %}<a href="?type=flights{{ typeOther }}">Normal</a>       {% endif %} &middot;
                    {% if type == 'hidden'      %}<b>Deleted</b>   {% else %}<a href="?type=hidden{{ typeOther }}">Deleted</a>       {% endif %} &middot;
                    {% if type == 'cancelled'   %}<b>Cancelled</b> {% else %}<a href="?type=cancelled{{ typeOther }}">Cancelled</a>  {% endif %} &middot;
                    {% if type == 'broken'      %}<b>Broken</b>    {% else %}<a href="?type=broken{{ typeOther }}">Broken</a>        {% endif %} &middot;
                    {% if type == 'nonflights'  %}<b>Non-flight</b>{% else %}<a href="?type=nonflights{{ typeOther }}">Non-flight</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">FlightInfo State</td>
                <td>
                    {% if state == 'all' %}<b>All</b>            {% else %}<a href="?state=all{{ stateOther }}">All</a>            {% endif %} &middot;
                    {% if state == '0'   %}<b>New</b>            {% else %}<a href="?state=0{{ stateOther }}"  >New</a>            {% endif %} &middot;
                    {% if state == '1'   %}<b>Checked</b>        {% else %}<a href="?state=1{{ stateOther }}"  >Checked</a>        {% endif %} &middot;
                    {% if state == '2'   %}<b>Done</b>           {% else %}<a href="?state=2{{ stateOther }}"  >Done</a>           {% endif %} &middot;
                    {% if state == '3'   %}<b>Error</b>          {% else %}<a href="?state=3{{ stateOther }}"  >Error</a>          {% endif %}
                </td>
            </tr>
            <tr>
                <td bgcolor="gray">User Level</td>
                <td>
                    {% if not level    %}<b>All</b>       {% else %}<a href="?level=0{{ levelOther }}">All</a>     {% endif %} &middot;
                    {% if level == '1' %}<b>Regular</b>   {% else %}<a href="?level=1{{ levelOther }}">Regular</a> {% endif %} &middot;
                    {% if level == '2' %}<b>AWPlus</b>    {% else %}<a href="?level=2{{ levelOther }}">AWPlus</a>  {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        <br/>
    {% endmacro %}
{% endblock %}