{% set MOBILE_NAV = true %}
{% set MAIN_BODY_CLASSES = {
    'manual-hidden': true,
    'responsive': true,
}|merge(MAIN_BODY_CLASSES|default({})) %}
{% extends app.user is not null ? "@AwardWalletMain/Layout/common.html.twig" : "@AwardWalletMain/Layout/not_logged.html.twig" %}

{% block meta %}
    {{ parent() }}
    <base href="{{ path('aw_mile_transfer_times_index') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
{% endblock %}

{% block body_left_widgets %}
    {{ widget_render('left_top') }}
    {{ widget_render('credit_card_tools_zone') }}
    {{ widget_render('left_bottom') }}
{% endblock %}

{% block title %}
    {{ 'transfer_times'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('account') }}
    <style>
        .main-table span.green{
            background: #7accb7;
            color: #146651;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require([
            'jquery-boot',
            'angular-boot',
            'pages/transferTimes',
            'lib/design',
            'directives/customizer'
        ], function ($, angular) {
            $(function() {
                angular.bootstrap($('.transfer_times').get(), ['transferTimesApp']);
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="transfer_times" data-ng-controller="TransferTimesMainCtrl as main">
        <div>
            <ui-view>
                <ul class="tabs-navigation middle main-tabs">
                    <li>
                        <a ui-sref="mainState.mileTransferTimes"  class="{{ 'purchase' in app.request.uri ? '' : 'active' }}">
                            {{ 'transfer_times'|trans|desc('Transfer Times')|upper }}
                        </a>
                    </li>
                    <li>
                        <a  ui-sref="mainState.milePurchaseTimes"  class="{{ 'purchase' in app.request.uri ? 'active' : '' }}">
                            {{ 'purchase_times'|trans|desc('Purchase Times')|upper }}
                        </a>
                    </li>
                </ul>
                <div class="tabs-content fixed-width" >
                    <div class="tab-main-content main-ui-view">
                        <div class="ajax-loader"><div class="loading"></div></div>
                    </div>
                </div>
            </ui-view>
        </div>
    </div>
{% endblock %}
