<div id="password-notice" class="dropdown-block" style="display: none; position: absolute; width: 330px; height: 130px; z-index: 100; background-color: white;">
    <div class="title-row">
        {{ 'password.required'|trans }}:
    </div>
    <div class="content-row">
        <ul class="password-required">
            <li id="meet-password-length">{{ 'password.size'|trans }}</li>
            <li id="meet-lower-case">{{ 'password.lowercase'|trans }}</li>
            <li id="meet-upper-case">{{ 'password.uppercase'|trans }}</li>
            <li id="meet-special-char">{{ 'password.special_char'|trans }}</li>
            <li id="meet-login">{{ 'password.login'|trans }}</li>
        </ul>
    </div>
</div>
