{% set MAIN_BODY_CLASSES = {
    'landing': app.user is null,
    'not-logged': false,
    'business': is_granted('SITE_BUSINESS_AREA'),
    'manual-hidden': false,
    'responsive': false,
    'hide-menu': false
} %}

{% extends app.user is not null ?
    "@AwardWalletMain/Layout/profile.html.twig" :
    "@AwardWalletMain/Layout/not_logged.html.twig"
%}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        {% if user is defined %}
            var login = {{ user.login|json_encode|raw }};
            var email = {{ user.email|json_encode|raw }};
        {% endif %}
        require(['jquery-boot', 'lib/dialog', 'lib/passwordComplexity', 'lib/design', 'lib/formReauthenticator'], function($, dialog, passwordComplexity){
            if (typeof(login) != 'undefined') {
                passwordComplexity.init($('#desktop_change_user_password_pass_firstPass'), function () {
                    return login;
                }, function () {
                    return email;
                });
            }
            $('[type=submit]').click(function (e) {
                e.preventDefault();
                if (passwordComplexity.getErrors().length > 0) {
                    $('#desktop_change_user_password_pass_firstPass').focus();

                    return;
                } else {
                    if ($('#desktop_change_user_password_pass_firstPass').val() !== $('#desktop_change_user_password_pass_secondPass').val()) {
                        var fpassRow = $('#desktop_change_user_password_pass_firstPass').closest('.row');
                        if (fpassRow.children('div[class="error-message"][data-type=pwdmatch]').length === 0) {
                            fpassRow.append(
                                '<div class="error-message" data-type="pwdmatch" style="display: none">' +
                                    '<div class="warning"><i class="icon-warning-small"></i></div>' +
                                    '<div class="error-message-description">' +
                                        '{{ 'user.pass_equal'|trans({}, 'validators') }}' +
                                    '</div>' +
                                '</div>'
                            );
                        }
                        fpassRow.addClass('error').children('[data-type=pwdmatch]').show();

                        return;
                    }
                }
                $('form').submit();
            });
            $('.js-forgot-password').on('click', function (e) {
                e.preventDefault();

                $.ajax({
                    method: 'GET',
                    url: Routing.generate('aw_users_restore', {username: login})
                });

                dialog.fastCreate(
                        Translator.trans('login.bottom.forgot'),
                        Translator.trans('landing.dialog.forgot.success_header'),
                        true,
                        true,
                        [
                            {
                                'text': Translator.trans('button.close'),
                                'class': 'btn-blue',
                                'click': function () {
                                    $(this).dialog('close');
                                }
                            }
                        ],
                        500
                );
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {% if app.user is null %}
        <style>
            .main-form-item {
                padding: 0 !important;
                min-height: inherit !important;
            }
        </style>
    {% endif %}
    {{ encore_entry_link_tags('landing') }}
{% endblock %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}

{% block title %}{{ 'user.change-password.form.title'|trans|desc('Change password') }}{% endblock %}

{# Only for unauthorized #}
{% block page %}{% apply spaceless %}
    {% if app.user is null %}
        <div class="change-password">
            {% if form is defined %}
                {{ block('change_password_form') }}
            {% else %}
                <div class="successful-message">
                    <div class="title">
                        <i class="icon-red-error"></i>
                        <h3>{{ 'landing.page.restore.expire'|trans|desc('Password reset link has expired') }}</h3>
                    </div>
                    <div class="successful-message-content">
                        <p>{{ 'landing.page.restore.text.failure'|trans|desc('User with this code not found or this password reset link has already expired. Try to re-send password reset request.') }} <a href="{{ path('aw_restore') }}">{{ 'landing.page.restore.text.resend'|trans|desc('Re-send password reset request') }} </a></p>
                    </div>
                </div>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endapply %}{% endblock %}

{# Only for authorized #}
{% block content %}{% apply spaceless %}
    {% if app.user is not null and form is defined %}
        <div class="main-blk shortened">
            <h1>{{ 'user.change-password.form.title'|trans }}</h1>
            {{ block('change_password_form') }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endapply %}{% endblock %}

{% block change_password_form %}
    {% form_theme form with ['@AwardWalletMain/FormTheme/fields.html.twig'] %}
    {% include '@AwardWalletMain/Profile/PersonalInfo/_passwordPolicyPopup.html.twig' %}
    <form class="main-form spinnerable"
          method="post"
          autocomplete="off"
          name="changePass"
          {{ needReauth ? 'data-reauth-action="ChangePasswordAction"' : '' }}
    >
        {{ form_widget(form, {'noSubmit':true}) }}
        <div class="row-submit">
            <div class="row-submit-item">
                <button type="submit" class="btn-blue">
                    {{ 'landing.page.restore.btn.save'|trans|desc('Save Password') }}
                </button>
            </div>
        </div>
    </form>
{% endblock %}