
<div id="global-loader" class="{{ bem('global-loader') }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="{{ bem('global-loader', 'animation') }}" id="1" viewBox="0 0 2000 2000">
        <style>
            @keyframes a0_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a1_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 27.027% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(45deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(45deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 99.54% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a1_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 27.027% { visibility: visible; animation-timing-function: steps(1); } 99.541% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a2_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a3_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 22.514% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(90deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(90deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 95.054% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a3_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 22.514% { visibility: visible; animation-timing-function: steps(1); } 95.054% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a4_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a5_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 18.027% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(135deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(135deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 90.54% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a5_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 18.027% { visibility: visible; animation-timing-function: steps(1); } 90.541% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a6_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a7_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 13.514% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(180deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(180deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 86.027% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a7_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 13.514% { visibility: visible; animation-timing-function: steps(1); } 86.027% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a8_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a9_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 9% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(225deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(225deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 81.54% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a9_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 9% { visibility: visible; animation-timing-function: steps(1); } 81.541% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a10_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a11_t { 0% { transform: rotate(0deg) translate(636px,-648px); } 4.513% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(270deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(270deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 77.027% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a11_v { 0% { visibility: hidden; animation-timing-function: steps(1); } 4.514% { visibility: visible; animation-timing-function: steps(1); } 77.027% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a12_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
            @keyframes a13_t { 0% { transform: rotate(0deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 31.541% { transform: rotate(315deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 63.054% { transform: rotate(315deg) translate(636px,-648px); animation-timing-function: cubic-bezier(.3,0,.7,1); } 72.513% { transform: rotate(360deg) translate(636px,-648px); } 100% { transform: rotate(360deg) translate(636px,-648px); } }
            @keyframes a13_v { 0% { visibility: visible; animation-timing-function: steps(1); } 72.514% { visibility: hidden; animation-timing-function: steps(1); } 100% { visibility: hidden; animation-timing-function: steps(1); } }
            @keyframes a14_t { 0% { transform: translate(1000px,1000px) rotate(0deg); } 27.027% { transform: translate(1000px,1000px) rotate(0deg); animation-timing-function: cubic-bezier(.5,0,.5,1); } 67.567% { transform: translate(1000px,1000px) rotate(360deg); } 100% { transform: translate(1000px,1000px) rotate(360deg); } }
        </style>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a0_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a1_t, 3.7s linear infinite forwards a1_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a2_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a3_t, 3.7s linear infinite forwards a3_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a4_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a5_t, 3.7s linear infinite forwards a5_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a6_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a7_t, 3.7s linear infinite forwards a7_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a8_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a9_t, 3.7s linear infinite forwards a9_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a10_t;">
            <g visibility="hidden" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a11_t, 3.7s linear infinite forwards a11_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['secondary']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a12_t;">
            <g visibility="visible" transform="translate(636,-648)" style="animation: 3.7s linear infinite both a13_t, 3.7s linear infinite forwards a13_v;">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
        <g class="{{ bem('global-loader', 'circle', ['main']) }}" transform="translate(1000,1000)" style="animation: 3.7s linear infinite both a14_t;">
            <g transform="translate(636,-648)">
                <g transform="translate(-636,12)">
                    <path d="M0-156c86.2 0 156 69.8 156 156c0 86.2-69.8 156-156 156c-86.2 0-156-69.8-156-156c0-86.2 69.8-156 156-156Z"/>
                </g>
            </g>
        </g>
    </svg>
</div>
