<a href="{{ url('aw_business_account_list') }}" target="_self" class="btn-light-silver {{ active }}">{{ 'menu.button.accounts' | trans({}, 'menu') | desc('Accounts') }}<span id="account-btn-counter">{{ accounts }}</span></a><a href="{{ url('aw_business_select_user') }}" class="add btn-light-silver" data-role="tooltip" title="{{ 'menu.button.accounts.add' | trans({}, 'menu') | desc('Add Award Program to Track') }}"><i class="icon-add-dark"></i></a>
{% if not webpack|default(false) %}
    <script>
        require(['jquery-boot'], function ($) {
            $(window).on('totalAccounts.update', function (event, data) {                
                $('#account-btn-counter').text(data);
            });
        });
    </script>
{% else %}
    {{ encore_entry_script_tags('button-accounts', null, '_default', {'defer': true}) }}
{% endif %}
