{# Issue #11161 #}

{% extends "@AwardWalletMain/Offer/standard.html.twig" %}
{% import '@AwardWalletMain/Offer/offerMacros.html.twig' as offerMacros %}
{% import '@AwardWalletMain/TwigMacros/assets.html.twig' as assets %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('offer') }}
    {{ encore_entry_link_tags('offers/hiltonhhonorscard') }}
    {{ assets.assets_form('css') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {{ offerMacros.jsOfferYes(_context, ApplyURL, Code, OfferUserID, defaultRedirectLocation) }}
        {{ offerMacros.jsOfferNo(_context, Code, OfferUserID, defaultRedirectLocation) }}
    </script>
{% endblock %}

{% block content %}
    <div id="offer_wrap">
        <div class="hilton-offer">
            <div class="hilton-hhonors-card-offer">
                <h3>For a Limited Time <br>Earn 75,000 Bonus Points <br>on the No Annual Fee <br>Citi Hilton HHonors Card</h3>
                <a onclick="offerYes();" href="#" class="btn-blue-offer">Learn More</a>
            </div>
        </div>
        <div class="offer_declinekind" style="margin-top: 5px" onclick="offerNo();">
            Never show this ad again
        </div>
        <div class="offer_toaccount" style="margin-top: 5px" onclick="window.location = '{{ defaultRedirectLocation }}'">
            Proceed to my account
        </div>
    </div>
{% endblock %}